/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}

html{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-image: url(./assets/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

body{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 8%;


}
